fastapi
uvicorn
pydantic
sqlalchemy
shutil
os
bcrypt
passlib
jose
Pillow
warnings
spacy
typing-extensions
sys
io
openai
base64
starlette
asyncio
json
pandas
fuzzywuzzy
re
email-verification
random
string
slowapi
mysql-connector-python
# Add other Python dependencies 