fastapi
uvicorn
pydantic
sqlite3
sqlalchemy
shutil
os
bcrypt
passlib
jose
Pillow
torch
torchvision
transformers
warnings
difflib
spacy
typing-extensions
sys
io
openai
base64
starlette
asyncio
json
pandas
fuzzywuzzy
re
email-verification
random
string
slowapi
mysql-connector-python
# Add other Python dependencies 