fastapi
uvicorn
pydantic[email]
sqlalchemy
bcrypt
passlib
python-jose
Pillow
spacy
typing-extensions
openai
starlette
asyncio
pandas
fuzzywuzzy
email-verification
slowapi
mysql-connector-python
python-Levenshtein
# Add other Python dependencies 